h1 {
    font-size: 65px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 20px 0;
}
p {
    font-size: 20px; /* CSS Comment */
    font-family: 'Thasadith', sans-serif;
}
html {
    background-color: #BADB9E;
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color: #83BF3F;
    padding: 0 20px 20px 20px;
  }
img {
    display: block;
    margin: 0 auto;
    width: 550px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Thasadith', sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
form {
    text-align: center;
    padding: 14px 16px;
}
  .active {
    background-color: #4CAF50;
  }